.middle-top {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#monitor-div{
    margin-top: 100px;width: 500px;
}

#screen{
    position:absolute;
    width: 87.5%;
    height: 75.2%;
    left:7%;
    font-family: "Courier";
    font-size: 14px;
    color: #999;
    margin-top: 5%;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    font-size: 15px;
    animation: type 4s steps(60, end);
}
p{
    overflow: hidden;
    white-space: nowrap;

    font-size: 15px;
    animation: type 6s steps(60, end);
}

p:nth-child(2){
    animation: type2 6s steps(60, end);
}
p:nth-child(3){
    animation: type2 9s steps(60, end);
}
p:nth-child(4){
    animation: type2 12s steps(60, end);
}


#typeWritingBar{
    margin-top: 0.5px;
    font-size: 18px;
    animation: blink 1s infinite;
}

@keyframes blink{
    to{opacity: .0;}
}

@keyframes type{
    from { width: 0; }
}

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100%; }
}


@media screen and (max-width: 600px) {
   /*tentar responsividade*/
}

.middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.developer{
    position: fixed;
    bottom: 0;
    left: 70px;
}
.button{
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.button-turn-off-on{
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

#monitor{
    width: 100%;
}


#name{
    width: 100%;
}